{
  "useTabs": false,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "semi": false,
  "bracketSpacing": true,
  "quoteProps": "consistent",
  "bracketSameLine": true,
  "arrowParens": "always",
  "proseWrap": "always",
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteBracketNewLine": false
}
